# CONFIGURACIÓN DEL SERVIDOR BACKEND
PORT=20001
LOG_LEVEL=info
NODE_ENV=development

# CADENA DE CONEXIÓN A BASE DE DATOS (PRISMA)
# Para desarrollo local (fuera de docker):
DATABASE_URL="postgresql://admin_arquimedes:admin_password_secure@localhost:20002/arquimedes_database?schema=public"

# Para uso dentro de Docker Compose:
# DATABASE_URL="postgresql://admin_arquimedes:admin_password_secure@db:5432/arquimedes_database?schema=public"

# CONFIGURACIÓN JWT
JWT_SECRET="CualquierClaveLargaYSecreta123"
